.my-budget {
    grid-column: 1/7;
}

.data-point-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.data-point-grid > div {
    border:1px solid white;
}

.empty-cell {
    background-color: gray;
}